services:
  app:
    build: .
    restart: always
    environment:
      - HOST=0.0.0.0
      - PORT=3000
    env_file:
      - .env
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
